<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello QuestAdmin!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body class="Site">
    <header>
      <div class="col-xs-6">
        <div class="circle">
          <br />
          <br />
          Honeypot &
          <br />
          Admin
        </div>
      </div>

      <div class="col-xs-6 text-right">
        <div id="header-links">
          <a href="<%= question_path(@conn, :new) %>">New Question</a>
        </div>
      </div>
    </header>

    <hr class="clear col-xs-12"/>

    <main class="Site-content">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <div class="col-xs-6">
        <a href="/">
          Home
        </a>
      </div>
      <div class="col-xs-6 text-right">
        <a href="http://www.honeypot.io/">
          <img src="/images/admin.png" />
        </a>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
