<div class="col-xs-10 col-xs-offset-1 page-content">
  <h2>Show option</h2>

  <ul>

    <li>
      <strong>Code:</strong>
      <%= @option.code %>
    </li>

    <li>
      <strong>Body:</strong>
      <%= @option.body %>
    </li>

    <li>
      <strong>Question:</strong>
      <%= link @option.question_id, to: question_path(@conn, :show,  @option.question_id), class: "btn btn-default btn-xs" %>
    </li>

  </ul>

  <%= link "Edit", to: option_path(@conn, :edit, @option) %>
  <%= link "Back", to: option_path(@conn, :index) %>
</div>
